<template>
  <div class="home">
    <div class="container-main pb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="mt-5 d-flex justify-content-center align-items-center"
            v-if="isLoading"
          >
            <h5 style="margin-bottom: 0" class="mr-3">Loading...</h5>
            <b-spinner type="grow" label="Loading..."></b-spinner>
          </div>
          <div v-else class="col-6 col-md-6 col-lg-8 ml-5">
            <img
              :src="'http://127.0.0.1:8000/uploads/' + event.featured_image"
              class="card-img-top"
              alt="..."
              width="400"
            />
            <div class="card-body">
              <p class="card-subtitle mb-2 text-muted">
                {{ event.created_at | moment }}
              </p>
              <h5 class="card-title mb-1">{{ event.title }}</h5>
              <span class="mt-2 mb-5 text-muted">
                {{
                  `Posted by ${event.teacher.teacher_info.first_name} ${event.teacher.teacher_info.last_name}`
                }}
              </span>
              <div class="ql-snow">
                <div class="ql-editor">
                  <div v-html="event.content"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  data() {
    return {
      isLoading: false,
    };
  },
  filters: {
    moment: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm a");
    },
  },
  async mounted() {
    this.isLoading = true;
    const res = await this.$store.dispatch(
      "main/EVENT",
      this.$route.params.slug
    );
    if (res.status == 200) {
      document.documentElement.scrollTop = 0;
      document.body.scrollTop = 0;
      this.isLoading = false;
    } else {
      document.documentElement.scrollTop = 0;
      document.body.scrollTop = 0;
      this.isLoading = false;
    }
  },
  methods: {},
  computed: {
    event() {
      return this.$store.getters["main/GET_EVENT"];
    },
  },
};
</script>

<style scoped>
.container-main {
  margin-top: 130px;
  background-color: #f7f7f7;
}

.card {
  transition: all 250ms;
}

.nav {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 999;
  box-shadow: 0px 3px 10px #617f8338;
}

.nav p {
  position: relative;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-top: 15px;
  font-family: "Anton", sans-serif;
}
</style>