<template>
  <div>
    <div>
      <b-navbar toggleable="lg">
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <router-link to="/login" class="btn btn-primary"
              >Teacher's Login</router-link
            >
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <div class="container-fluid">
      <div class="text-center">
        <h1 class="text-center mt-5">Student Event Notification</h1>
        <h6 class="text-muted mt-3">
          <strong class="text-dark">For students,</strong> Please input your
          <strong class="text-dark">Student Number</strong> to see the events.
        </h6>
      </div>
      <div
        class="col d-flex flex-column justify-content-center align-items-center"
      >
        <div class="mt-5 d-flex">
          <b-input-group size="lg" prepend="🔎">
            <b-form-input
              size="lg"
              class="mr-2"
              style="width: 30rem"
              v-model="credential.student_number"
              placeholder="Student Number"
            ></b-form-input>
          </b-input-group>
          <b-button
            style="width: 6rem"
            type="submit"
            variant="success"
            @click.prevent="login"
            >Login</b-button
          >
        </div>
        <p class="mt-3">
          Don't have an account? Create your account
          <router-link to="/register">here</router-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      credential: {
        student_number: "",
      },
    };
  },
  methods: {
    async login() {
      const response = await this.$store.dispatch(
        "auth/STUDENT_LOGIN",
        this.credential
      );
      if (response.status == 200) {
        this.$router.push({ name: "Student Event" });
        this.$toast.success("Successfully logged in");
      }
    },
  },
  async mounted() {
    const res = await this.$store.dispatch("auth/STUDENT_CHECK");
    if (res.status == 200) {
      this.$router.push({ name: "Student Event" });
    }f
  },
};
</script>

<style scoped>
</style>