<template>
  <div class="home">
    <div class="nav d-flex justify-content-between align-items-center px-3">
      <p class="text-muted">Event Notification</p>
      <div class="d-flex justify-content-center align-items-center">
        <b-button variant="danger" @click.prevent="logout">Logout</b-button>
      </div>
    </div>
    <div class="container-main pb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6 col-md-8 col-lg-9">
            <div class="row d-flex align-items-stretch justify-content-center">
              <div
                class="col-11 col-md-6 col-lg-4 mt-4 d-flex align-items-stretch"
                v-for="event in events"
                :key="event.id"
              >
                <router-link
                  class="card-link"
                  :to="{
                    name: 'Event',
                    params: { slug: event.slug },
                  }"
                >
                  <div class="card">
                    <img
                      :src="
                        'http://127.0.0.1:8000/uploads/' + event.featured_image
                      "
                      class="card-img-top"
                      alt="..."
                      width="100"
                    />
                    <div class="card-body">
                      <h5 class="card-title mb-1">{{ event.title }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">
                        {{ event.description }}
                      </h6>
                    </div>
                  </div>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      
    };
  },
  async mounted() {
    const res = await this.$store.dispatch("auth/STUDENT_CHECK");
    if (res.status == 401) {
      localStorage.removeItem("access_token");
      this.$router.push("/");
    }

    await this.$store.dispatch("main/EVENTS");
  },
  methods: {
    async logout() {
      const response = await this.$store.dispatch("auth/STUDENT_LOGOUT");
      if (response.status == 200) {
        this.$toast.success("Logged out successfully.");
        this.$router.push("/");
      }
    },
  },
  computed: {
    events() {
      return this.$store.getters["main/GET_EVENTS"];
    },
  },
};
</script>

<style scoped>
.card-link {
  text-decoration: none;
  color: #000;
}

.card {
  transition: all 250ms;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 2px 3px 10px rgba(80, 128, 134, 0.199);
}

.card:hover(:not()) {
  transform: scale(0.9);
}

.card-link:hover {
  color: #000;
}

.nav {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 999;
  box-shadow: 0px 3px 10px #617f8338;
}

.nav p {
  position: relative;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-top: 15px;
  font-family: "Anton", sans-serif;
}

.container-main {
  margin-top: 130px;
  height: 100%;
  background-color: #f7f7f7;
}
</style>
