<template>
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mt-3 ml-3" style="padding: 0; margin: 0">Event</h1>
      <div class="d-flex justify-content-center align-items-center">
        <b-button variant="danger" @click.prevent="logout">Log out</b-button>
      </div>
    </div>
    <div
      class="d-flex flex-column justify-content-center align-items-center mt-3"
    >
      <div class="w-75 d-flex justify-content-between align-items-center mb-3">
        <p>List of Events</p>
        <b-button size="sm" variant="success" @click="$bvModal.show('modal-1')"
          >New Event</b-button
        >
      </div>

      <table class="table">
        <thead class="thead">
          <tr>
            <th class="col-md-2">#</th>
            <th class="col-md-4">Title</th>
            <th class="col-md-3">Description</th>
            <th class="col-md-3 text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <div v-if="!loaded" class="d-flex align-items-center mt-3 mb-3">
            <strong>Fetching data...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
          <tr v-else v-for="event in events" :key="event.id">
            <th scope="row">{{ event.id }}</th>
            <td>{{ event.title }}</td>
            <td>{{ event.description }}</td>

            <td>
              <b-button
                size="sm"
                variant="primary"
                class="px-3"
                @click="viewEvent(event)"
                >Show</b-button
              >
              <b-button
                size="sm"
                variant="warning"
                class="px-3"
                @click="
                  $bvModal.show('modal-2');
                  showEdit(event);
                "
              >
                Edit</b-button
              >
              <b-button
                size="sm"
                variant="danger"
                @click="
                  $bvModal.show('modal-3');
                  id = event.id;
                "
                >Delete</b-button
              >
            </td>
          </tr>
        </tbody>
      </table>

      <b-modal
        id="modal-1"
        centered
        size="xl"
        ok-title="Save"
        title="New Event"
        @ok.prevent="saveEvent"
        ><div class="container-fluid">
          <h5 class="text-muted">All fields is required</h5>
          <div class="row">
            <div class="col-4">
              <b-form-group
                id="input-group-1"
                label="Title"
                label-for="input-1"
                description="Enter the title of your event."
              >
                <b-form-input
                  id="input-1"
                  type="text"
                  v-model="event.title"
                  placeholder="Title"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                id="input-group-1"
                label="Description"
                label-for="input-1"
                description="Enter the description of your event."
              >
                <b-form-input
                  id="input-1"
                  type="text"
                  v-model="event.description"
                  placeholder="Description"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                id="input-group-2"
                label="Image"
                label-for="input-2"
              >
                <VueFileAgent
                  ref="vueFileAgent"
                  :theme="'list'"
                  :multiple="false"
                  :deletable="true"
                  :meta="true"
                  :accept="'image/*,'"
                  :maxSize="'10MB'"
                  :maxFiles="1"
                  :helpText="'Choose images'"
                  :errorText="{
                    type: 'Invalid file type. Only images Allowed',
                    size: 'Files should not exceed 10MB in size',
                  }"
                  @select="filesSelected($event)"
                  @beforedelete="onBeforeDelete($event)"
                  @delete="fileDeleted($event)"
                  v-model="fileRecords"
                ></VueFileAgent>
              </b-form-group>
            </div>
            <div class="col-8">
              <b-form-group
                id="input-group-2"
                label="Content"
                label-for="input-2"
              >
                <vue-editor v-model="event.content" />
              </b-form-group>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal
        id="modal-2"
        centered
        size="xl"
        ok-title="Update"
        title="Update Event"
        @ok.prevent="updateEvent"
        ><div class="container-fluid">
          <h5 class="text-muted">All fields is required</h5>
          <div class="row">
            <div class="col-4">
              <b-form-group
                id="input-group-1"
                label="Title"
                label-for="input-1"
                description="Enter the title of your event."
              >
                <b-form-input
                  id="input-1"
                  type="text"
                  v-model="event.title"
                  placeholder="Title"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                id="input-group-1"
                label="Description"
                label-for="input-1"
                description="Enter the description of your event."
              >
                <b-form-input
                  id="input-1"
                  type="text"
                  v-model="event.description"
                  placeholder="Description"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                id="input-group-2"
                label="Image"
                label-for="input-2"
              >
                <VueFileAgent
                  ref="vueFileAgent"
                  :theme="'list'"
                  :multiple="false"
                  :deletable="true"
                  :meta="true"
                  :accept="'image/*,'"
                  :maxSize="'10MB'"
                  :maxFiles="1"
                  :helpText="'Choose images'"
                  :errorText="{
                    type: 'Invalid file type. Only images Allowed',
                    size: 'Files should not exceed 10MB in size',
                  }"
                  @select="filesSelected($event)"
                  @beforedelete="onBeforeDelete($event)"
                  @delete="fileDeleted($event)"
                  v-model="fileRecords"
                ></VueFileAgent>
              </b-form-group>
            </div>
            <div class="col-8">
              <b-form-group
                id="input-group-2"
                label="Content"
                label-for="input-2"
              >
                <vue-editor v-model="event.content" />
              </b-form-group>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal
        id="modal-3"
        title="Delete Event"
        centered
        ok-variant="danger"
        @ok.prevent="deleteEvent"
        >Are you sure you want to delete this event?</b-modal
      >
    </div>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
export default {
  components: { VueEditor },
  data() {
    return {
      status: 0,
      loaded: false,

      event: {
        title: "",
        description: "",
        featured_image: "",
        content: "",
      },
      id: "",
      fileRecords: [],
      fileRecordsForUpload: [], // maintain an upload queue
    };
  },
  computed: {
    user() {
      return this.$store.getters["auth/GET_TEACHER"];
    },
    events() {
      return this.$store.getters["teacher/GET_EVENTS"];
    },
  },

  methods: {
    showEdit(event) {
      this.id = event.id;
      this.event = { ...event };
    },
    async logout() {
      const response = await this.$store.dispatch("auth/TEACHER_LOGOUT");
      if (response.status == 200) {
        this.$toast.success("Logged out successfully.");
        this.$router.push("/");
      }
    },
    deleteUploadedFile: function (fileRecord) {
      // Using the default uploader. You may use another uploader instead.
      this.$refs.vueFileAgent.deleteUpload(
        this.uploadUrl,
        this.uploadHeaders,
        fileRecord
      );
    },
    filesSelected: function (fileRecordsNewlySelected) {
      var validFileRecords = fileRecordsNewlySelected.filter(
        (fileRecord) => !fileRecord.error
      );
      this.fileRecordsForUpload =
        this.fileRecordsForUpload.concat(validFileRecords);
    },
    onBeforeDelete: function (fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        // queued file, not yet uploaded. Just remove from the arrays
        this.fileRecordsForUpload.splice(i, 1);
        var k = this.fileRecords.indexOf(fileRecord);
        if (k !== -1) this.fileRecords.splice(k, 1);
      } else {
        if (confirm("Are you sure you want to delete?")) {
          this.$refs.vueFileAgent.deleteFileRecord(fileRecord); // will trigger 'delete' event
        }
      }
    },
    fileDeleted: function (fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        this.fileRecordsForUpload.splice(i, 1);
      } else {
        this.deleteUploadedFile(fileRecord);
      }
    },
    viewEvent(event) {
      this.$router.push({
        name: "Event",
        params: { slug: event.slug },
      });
    },
    async saveEvent() {
      if (this.event.title == "") return this.$toast.error("Title is required");
      if (this.event.description == "")
        return this.$toast.error("Description is required");
      if (this.event.content == "")
        return this.$toast.error("Content is required");
      if (this.fileRecordsForUpload.length == 0)
        return this.$toast.error("Featured Image is required");

      const res = await this.$refs.vueFileAgent.upload(
        `http://localhost:8000/api/uploadFeaturedImage?token=` +
          localStorage.getItem("access_token"),
        { "x-csrf-token": this.token, "X-Requested-With": "XMLHttpRequest" },
        this.fileRecordsForUpload
      );

      this.event.featured_image = res[0].data;

      const response = await this.$store.dispatch("teacher/STORE", this.event);
      if (response.status == 200) {
        this.$toast.success("Event saved.");
        this.$bvModal.hide("modal-1");
        this.loaded = false;
        await this.$store.dispatch("teacher/EVENTS");
        this.loaded = true;

        this.event = {
          title: "",
          content: "",
          description: "",
          featured_image: "",
        };
      }
    },
    async updateEvent() {
      if (this.event.title == "") return this.$toast.error("Title is required");
      if (this.event.description == "")
        return this.$toast.error("Description is required");
      if (this.event.content == "")
        return this.$toast.error("Content is required");
      if (this.fileRecordsForUpload.length == 0)
        return this.$toast.error("Featured Image is required");

      const res = await this.$refs.vueFileAgent.upload(
        `http://localhost:8000/api/uploadFeaturedImage?token=` +
          localStorage.getItem("access_token"),
        { "x-csrf-token": this.token, "X-Requested-With": "XMLHttpRequest" },
        this.fileRecordsForUpload
      );

      await this.$store.dispatch(
        "teacher/DELETE_IMAGE",
        this.event.featured_image
      );

      this.event.featured_image = res[0].data;

      const response = await this.$store.dispatch("teacher/UPDATE", {
        id: this.id,
        event: this.event,
      });
      if (response.status == 200) {
        this.$toast.success("Event updated.");
        this.$bvModal.hide("modal-2");
        this.loaded = false;
        await this.$store.dispatch("teacher/EVENTS");
        this.loaded = true;

        this.event = {
          title: "",
          content: "",
          description: "",
          featured_image: "",
        };
      }
    },
    async deleteEvent() {
      const response = await this.$store.dispatch("teacher/DESTROY", this.id);
      if (response.status == 200) {
        this.$toast.success("Event deleted.");
        this.$bvModal.hide("modal-3");
        this.loaded = false;
        await this.$store.dispatch("teacher/EVENTS");
        this.loaded = true;
      }
    },
  },

  async mounted() {
    const res = await this.$store.dispatch("auth/TEACHER_CHECK");
    if (res.status == 401) {
      localStorage.removeItem("access_token");
      this.$router.push("/login");
    }

    this.loaded = false;
    await this.$store.dispatch("teacher/EVENTS");
    this.loaded = true;
  },
};
</script>

<style scoped>
table {
  width: 80% !important;
}

@import "~vue2-editor/dist/vue2-editor.css";

/* Import the Quill styles you want */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
</style>