<template>
  <div class="container-fluid">
    <div
      class="col d-flex flex-column justify-content-center align-items-center"
    >
      <div>
        <h1 class="mt-5">Teacher's Login</h1>
        <p class="text-muted mb-3">Please input your credentials</p>
        <b-form-input
          type="text"
          class="my-3"
          placeholder="Username"
          v-model="credential.username"
          style="width: 30rem"
        ></b-form-input>
        <b-form-input
          type="password"
          class="my-3"
          style="width: 30rem"
          v-model="credential.password"
          placeholder="Password"
        ></b-form-input>
        <b-button class="w-100" variant="success" @click.prevent="login"
          >Login</b-button
        >
        <p class="mt-3">
          Don't have an account? Create your account
          <router-link to="/register">here</router-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      credential: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    async login() {
      const response = await this.$store.dispatch(
        "auth/TEACHER_LOGIN",
        this.credential
      );
      if (response.status == 200) {
        this.$router.push({ name: "Teacher Event" });
        this.$toast.success("Successfully logged in");
      }else {
        this.$toast.error("Invalid Credentials");

      }
    },
  },
  async mounted() {
    const res = await this.$store.dispatch("auth/TEACHER_CHECK");
    if (res.status == 200) {
      this.$router.push({ name: "Teacher Event" });
    }
  },
};
</script>

<style>
</style>