<template>
  <div class="container-fluid">
    <div class="col mt-5 d-flex justify-content-center align-items-center">
      <div class="mb-5">
        <h1 class="text-center">Register Account</h1>
        <div class="col d-flex mt-3 justify-content-center align-items-center">
          <b-form-group
            label="Select a user"
            label-align="center"
            v-slot="{ ariaDescribedby }"
          >
            <b-form-radio-group
              id="btn-radios-1"
              v-model="selected"
              :options="options"
              :aria-describedby="ariaDescribedby"
              button-variant="outline-success"
              name="radios-btn-default"
              buttons
            ></b-form-radio-group>
          </b-form-group>
        </div>
        <div
          v-if="selected == 0"
          class="
            col
            d-flex
            flex-column
            mt-2
            justify-content-center
            align-items-center
          "
        >
          <div>
            <h5>Please fill the info</h5>
            <p class="text-muted">All field are required</p>
            <b-form-input
              type="text"
              class="my-3"
              placeholder="Student Number"
              v-model="student.student_number"
              style="width: 20rem"
            ></b-form-input>
            <b-form-input
              type="text"
              class="my-3"
              style="width: 20rem"
              placeholder="First Name"
              v-model="student.first_name"
            ></b-form-input>
            <b-form-input
              type="text"
              class="my-3"
              style="width: 20rem"
              placeholder="Last Name"
              v-model="student.last_name"
            ></b-form-input>
            <b-button class="w-100" variant="success" @click.prevent="registerStudent"
              >Register</b-button
            >
            <p class="mt-2">
              You have an account already? Login
              <router-link to="/">here</router-link>
            </p>
          </div>
        </div>
        <div
          v-else
          class="col d-flex mt-3 justify-content-center align-items-center"
        >
          <div>
            <h4>Please fill the info</h4>
            <p class="text-muted">All field are required</p>
            <div class="row">
              <div class="col-6">
                <b-form-input
                  type="text"
                  class="my-2"
                  placeholder="Username"
                  v-model="teacher.username"
                  style="width: 20rem"
                ></b-form-input>
                <b-form-input
                  type="password"
                  class="my-2"
                  placeholder="Password"
                  style="width: 20rem"
                  v-model="teacher.password"
                ></b-form-input>
              </div>
              <div class="col-6">
                <b-form-input
                  type="text"
                  class="my-2"
                  style="width: 20rem"
                  placeholder="First Name"
                  v-model="teacher.first_name"
                ></b-form-input>
                <b-form-input
                  type="text"
                  class="my-2"
                  style="width: 20rem"
                  placeholder="Last Name"
                  v-model="teacher.last_name"
                ></b-form-input>
              </div>
            </div>

            <b-button
              class="w-25 my-2"
              variant="success"
              @click.prevent="registerTeacher"
              >Register</b-button
            >
            <p class="mt-3">
              You have an account already? Login
              <router-link to="/login">here</router-link>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selected: 0,
      options: [
        { text: "Student", value: 0 },
        { text: "Teacher", value: 1 },
      ],
      student: {
        student_number: "",
        first_name: "",
        last_name: "",
      },
      teacher: {
        username: "",
        password: "",
        first_name: "",
        last_name: "",
      },
    };
  },
  methods: {
    async registerStudent() {
      // if (this.student.student_number == "") {
      //   return this.$toast.error("Student number is required");
      // } else {
      //   if (isNaN(this.student.student_number)) {
      //     return this.$toast.error("Student number must numeric");
      //   }
      // }
      // if (this.student.first_name == "")
      //   return this.$toast.error("First Name is required");
      // if (this.student.last_name == "")
      //   return this.$toast.error("Last Name is required");

      const response = await this.$store.dispatch(
        "auth/STUDENT_REGISTER",
        this.student
      );

      if (response.status == 200) {
        this.$toast.success(response.data.message);
        this.$router.push("/login");
      }
    },
    async registerTeacher() {
      // if (this.teacher.username == "")
      //   return this.$toast.error("Username is required");
      // if (this.teacher.password == "")
      //   return this.$toast.error("Password is required");
      // if (this.teacher.first_name == "")
      //   return this.$toast.error("First Name is required");
      // if (this.teacher.last_name == "")
      //   return this.$toast.error("Last Name is required");

      const response = await this.$store.dispatch(
        "auth/TEACHER_REGISTER",

        this.teacher
      );

      if (response.status == 200) {
        this.$toast.success(response.data.message);
        this.$router.push("/login");
      }
    },
  },
};
</script>

<style>
</style>